<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="changeCurrentNav('home')" [ngClass]="this.currentNav == 'home' ? 'active' : ''"> Accueil </a>
      <a mat-list-item (click)="changeCurrentNav('poems') " [ngClass]="this.currentNav == 'poems' ? 'active' : ''"> Poèmes </a>
      <a mat-list-item (click)="changeCurrentNav('other')" [ngClass]="this.currentNav == 'other' ? 'active' : ''">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class=".content">
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Joyeux Anniversaire !!!</span>
    </mat-toolbar>

    <app-poems *ngIf="this.currentNav == 'poems'">
    </app-poems>
    <app-home-component *ngIf="this.currentNav == 'home'" (moveToPoem)="this.changeCurrentNav('poems')">
    </app-home-component>
  </mat-sidenav-content>
</mat-sidenav-container>
