<mat-icon>favorite</mat-icon><mat-icon>favorite</mat-icon><mat-icon>favorite</mat-icon>
<p> Welcome my love !!!</p>

<mat-card>
  <mat-card-content>
    Happy Birthday to you !
    <div id="imgCont">
      <img src="assets/cake.png" alt="">
    </div>
    <h2> 25 !!! </h2>
  </mat-card-content>

    <mat-card-actions>
<button mat-button color="primary" (click)="this.moveToPoem.emit()">
  <mat-icon>favorite</mat-icon>
  See Poems
  <mat-icon>favorite</mat-icon>
</button>
    </mat-card-actions>
</mat-card>
